<div class="sm:hidden w-full px-4 mt-8">
  <label for="tabs" class="sr-only">Select your country</label>
  <select
    id="tabs"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
  >
    <option>Todos los niveles</option>
    <option>Principiante</option>
    <option>Intermedio</option>
    <option>Avanzado</option>
  </select>
</div>
<ul
  class="hidden w-full max-w-6xl text-sm font-medium text-center text-gray-500 rounded-lg shadow-sm sm:flex dark:divide-gray-700 dark:text-gray-400 lg:mt-16"
>
  <li class="w-full focus-within:z-10">
    <a
      href=""
      class="inline-block w-full p-4 text-gray-900 bg-gray-100 border-r border-gray-200 dark:border-gray-700 rounded-s-lg dark:bg-gray-700 dark:text-white"
      aria-current="page">Todos los niveles</a
    >
  </li>
  <li class="w-full focus-within:z-10">
    <a
      href="#"
      class="inline-block w-full p-4 bg-white border-r border-gray-200 dark:border-gray-700 dark:bg-gray-800"
      >Principiante</a
    >
  </li>
  <li class="w-full focus-within:z-10">
    <a
      href="#"
      class="inline-block w-full p-4 bg-white border-r border-gray-200 dark:border-gray-700 dark:bg-gray-800"
      >Intermedio</a
    >
  </li>
  <li class="w-full focus-within:z-10">
    <a
      href="#"
      class="inline-block w-full p-4 bg-white border-s-0 border-gray-200 dark:border-gray-700 rounded-e-lg dark:bg-gray-800"
      >Avanzado</a
    >
  </li>
</ul>
